<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <title>Create Post</title>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
        .required-label::before {
            content: "*";
            color: red;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
        }
        label {
            vertical-align: middle;
        }
        .container {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
            border-radius: 5px;
        }
    </style>
    <script>
        function submitForm() {
            var selectedTemplate = document.getElementById("template_selector").value;
            document.getElementById("selected_template").value = selectedTemplate;
            document.getElementById("template_form").submit();
        }

        function postSubmitForm() {
            var form = document.getElementById('post_form');
            var formData = new FormData(form);

            // Explicitly add geolocation value
            var geolocation = document.getElementById('geolocation');
            if (geolocation.value) {
                formData.append(geolocation.name, geolocation.value);
            }

            // Submit the form using Fetch API
            fetch(form.action, {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/community_home?community_name={{ community_name }}';
                } else {
                    alert('Error creating post.');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            var map = L.map('map').setView([51.505, -0.09], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);

            var marker;

            function onMapClick(e) {
                if (marker) {
                    marker.setLatLng(e.latlng);
                } else {
                    marker = L.marker(e.latlng).addTo(map);
                }
                document.getElementById('latitude').value = e.latlng.lat;
                document.getElementById('longitude').value = e.latlng.lng;
                document.getElementById('geolocation').value = e.latlng.lat + ',' + e.latlng.lng;
            }

            map.on('click', onMapClick);
        });
    </script>
</head>
<body>
    <h2>Create a New Post for {{ community_name }}</h2>
    {% if select_dropdown_list %}
    <label for="template_selector">Select Template:</label>
    <select id="template_selector" onchange="submitForm()">
        <option value="empty">-Please Select Template-</option>
        <option value="Default Template">Default Template</option>
        {% for template in templates %}
            <option value="{{template}}">{{template}}</option>
        {% endfor %}
    </select>

    <!-- Hidden form to send the POST request -->
    <form id="template_form" method="post" action="/get_template_dict" style="display: none;">
        {% csrf_token %}
        <input type="hidden" id="selected_template" name="selected_template">
        <input type="hidden" name="community_name" value="{{ community_name }}">
        <input type="hidden" name="calling_from" value="create_post">
    </form>

    {% else %}
    <div class="container">
        <form id="post_form" method="post" action="/create_post?community_name={{ community_name }}&template_name={{ template_name }}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="template_name" value="{{ template_name }}">
            {% for field_name, field_type in template_dict.items %}
                <div class="text-box-pair">
                    {% if field_type == "text" %}
                        <div>
                            <label>{{ field_name }}:</label>
                            <input type="text" name="{{ field_name }}" class="form-control">
                        </div>

                    {% elif field_type == "audio/mpeg" or field_type == "audio/ogg" or field_type == "audio/mp4"%}
                        <div>
                            <label>{{ field_name }}:</label>
                            <input type="file" name="{{ field_name }}" accept="audio/mpeg, audio/ogg, audio/mp4">
                        </div>

                    {% elif field_type == "video/mpeg" or field_type == "video/ogg" or field_type == "video/mp4"%}
                        <div>
                            <label>{{ field_name }}:</label>
                            <input type="file" name="{{ field_name }}" accept="video/mp4, video/ogg, video/mpeg ">
                        </div>

                    {% elif field_type == "photo" %}
                        <div>
                            <label>{{ field_name }}:</label>
                            <input type="file" name="{{ field_name }}" accept="image/*">
                        </div>

                    {% elif field_type == "date" %}
                        <label>{{ field_name }}:</label>
                        <input type="date" name="{{ field_name }}" value="2024-01-01">

                    {% elif field_type == "geolocation" %}
                        <h3>{{ field_name }}</h3>
                        <div id="map"></div>
                        <input type="hidden" id="latitude" name="latitude">
                        <input type="hidden" id="longitude" name="longitude">
                        <input type="hidden" id="geolocation" name="{{ field_name }}">
                        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

                    {% else %}
                        <p>Do nothing</p>
                    {% endif %}
                </div>
            {% endfor %}
            <br><br>
            <button type="button" id="submit_button" onclick="postSubmitForm()">Create Post</button>
            <button type="button" id="cancel_button" onclick="window.location.href='/community_home?community_name={{ community_name }}'" style="margin-left: 10px;">Cancel</button>
        </form>
    </div>
    {% endif %}
</body>
</html>
